/* Título */
.text-title {
    color: #1e40af; /* Azul oscuro */
}

/* Encabezado de la tabla */
.table_div {
    background-color: #2563eb; /* Azul */
    color: #ffffff; /* Texto blanco */
}

.table_title {
    padding: 12px;
    font-weight: bold;
    text-align: left;
}



.data-user:hover {
    background-color: #93c5fd; /* Azul más claro en hover */
}

.data-cell {
    padding: 12px;
    text-align: left;
}
